@media only screen and (max-width:576px){
  nav a {
        color: #fff;
  }
  .navbar{ 
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    z-index:10;
  }
  nav.navbar{ 
    background: #0f7bff  ; 
  }

  .navbar-toggler{
    border:none !important;
    outline: none !important;
    box-shadow: none !important;
    color: #fff !important;
  }
  .navbar-toggler:focus{
    outline: none !important;
    color: rgb(192, 192, 192) !important; 
  }
  .bread {
      font-size: 12px;
  }
  .navbar-brand{
      width:33%;
  }
  .navbar-brand .logo{
    position:relative;
    height:30px;
    bottom:2px;
    
  }
  .user-button{
    display:flex;
    align-items: center;
    justify-content: flex-end;
    background:none;
    border:none;
    width:33%;
    height: var(--header-height);
    padding:0 !important;
    color:white;
  }
  .user-avatar{
      cursor:pointer;
      font-size:2rem;
      margin-left:5px;
  }
}